<% if(comments.length > 0){ %>
<div class="comment">
    <div class="myarrow">
        <div class="box1"></div>
        <div class="box2"></div>
    </div>
    <% for(i in comments) { %>
    <div class="comment-item row">
        <div class="col-sm-1">
            <img src="/img/author_3.jpg" class="img-responsive img-circle" alt=""/>
        </div>
        <div class="col-sm-11">
            <p class="name"><%= comments[i].name %></p>

            <p class="content"><%= comments[i].comment %></p>

            <p class="comment-date"><%= comments[i].formatedDate %></p>
        </div>
    </div>
    <% } %>
</div>
<% } %>