<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                &copy; 2015 All Rights Reserved.
            </div>
            <div class="col-sm-6">
                <div class="footer__social">
                    <a href="#" class="footer-social__link footer-social__link_twitter">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a href="#" class="footer-social__link footer-social__link_facebook">
                        <i class="fa fa-facebook"></i>
                    </a>
                    <a href="#" class="footer-social__link footer-social__link_google-plus">
                        <i class="fa fa-google-plus"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>