<footer class="bs-docs-footer" role="contentinfo">
    <div class="container">
        <ul class="bs-docs-footer-links text-muted">
            <li>主办</li>
            <li>：</li>
            <li>XXX</li>
            <li>·</li>
            <li>版权所有</li>
            <li>：</li>
            <li>XXX</li>
            <li>·</li>
            <li>网站总访问量</li>
            <li>:</li>
            <li>XXX</li>
            <li>·</li>
            <li>运营管理</li>
            <li>:</li>
            <li>XXX</li>
        </ul>
        <p>（建议使用1024×768分辨率 IE8.0版本以上浏览器访问本站）</p>
    </div>
</footer>