<title>全景导航</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="ico/favicon.ico">
<!-- CSS Plugins -->
<link href="css/plugins/animate.css" rel="stylesheet">
<link href="css/plugins/owl.carousel.css" rel="stylesheet">
<link href="css/plugins/owl.theme.css" rel="stylesheet">
<link href="css/plugins/lightbox.css" rel="stylesheet">
<link href="fonts/open-iconic/font/css/open-iconic-bootstrap.css" rel="stylesheet">
<link href="fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet">

<!-- Google Fonts -->
<link href="fonts/google-fonts/fonts.css" rel='stylesheet' type='text/css'>

<!-- CSS Custom -->
<link href="css/plugins/bootstrap.css" rel="stylesheet">
<link href="css/styles.css" rel="stylesheet">
<link rel="stylesheet" href="css/custom.css">

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
<script src="http://libs.useso.com/js/html5shiv/3.7/html5shiv-printshiv.min.js"></script>
<script src="http://libs.useso.com/js/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->