<div class="sidebar">
    <div class="sidebar__wrapper">

        <div class="sidebar__close js-toggle-sidebar visible-xs">
            <span class="oi oi-x"></span>
        </div>
        <div class="sidebar__form form-search">
            <form>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="关键字">
              <span class="input-group-btn">
                <button class="btn btn-primary" type="button">搜索</button>
              </span>
                </div><!-- /input-group -->
            </form>
        </div>
        <div class="sidebar__form form_alt">
            <form action="/signin" method="post">
                <div class="form-group">
                    <label class="sr-only" for="username">用户名</label>
                    <input type="text" class="form-control" id="username" name="username" placeholder="用户名">
                </div>
                <div class="form-group">
                    <label class="sr-only" for="password">密码</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="密码">
                </div>
                <button type="submit" class="btn btn-block btn-primary">登陆</button>
            </form>
        </div>

        <h4 class="sidebar__heading">
            没有账号？
        </h4>
        <ul class="sidebar__menu">
            <li><a href="sign-up.html">注册</a></li>
        </ul>

        <div class="sidebar__logo">
            全景导航
        </div>

    </div>
</div>